aiohttp==3.7.4
args==0.1.0
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
clint==0.5.1
colorama==0.4.4
configparser==5.0.2
coverage==5.5
crayons==0.4.0
cryptography==3.4.6
cx-Freeze==6.5.3
demjson==2.2.4
deprecation==2.1.0
docopt==0.6.2
EasyProcess==0.3
eyed3==0.9.6
ffmpeg==1.4
filetype==1.0.7
fudge==1.1.1
google-images-download==2.8.0
idna==2.10
importlib-metadata==3.7.2
multidict==5.1.0
mutagen==1.45.1
nose==1.3.7
numpy==1.20.1
packaging==20.9
Pillow==8.1.2
pycparser==2.20
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyshortcuts==1.8.0
PySimpleGUI==4.35.0
PyVirtualDisplay==2.1
requests==2.25.1
scdl @ git+https://github.com/flyingrub/scdl@6dd6ef713bcaece9df9f8d8fd8f164862767738b
selenium==3.141.0
simplejson==3.17.2
six==1.15.0
soundcloud==0.5.0
soundcloud-lib==0.5.4
soundscrape==0.31.0
soupsieve==2.2
termcolor==1.1.0
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.3
webdriver-manager==3.3.0
wxPython==4.1.1
xvfbwrapper==0.2.9
yarl==1.6.3
youtube-dl==2021.3.3
zipp==3.4.1
